$bg-color1: #0a151f;
$bg-color2: #0f202e;
$bg-color3: #142b3d;
$bg-color4: #19364d;

$fg-color1: #f47f20;
$fg-color2: #bdbfc1;
$fg-color3: #fff;

$bg-highlight: lighten($bg-color1, 20%);
$fg-highlight: darken($fg-color2, 20%);
